* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Open Sans", sans-serif;
}
/* Default Primary Btn */
.btn-primary {
  background-color: #fd6e0a;
  color: #fff;
  border: 0px;
  font-size: 20px;
  padding: 10px 15px;
  text-transform: capitalize;
  font-weight: 700;
  transition: 01s;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
.btn-primary:hover {
  background: #ffdbc1;
  color: #474747;
}

/* Header Area Styles */
.header-area {
  background: #fff8f3;
  background-image: url("../images/header_bg.png"),
    url("../images/developer.png");
  background-position: bottom right, left center;
  background-repeat: no-repeat;
}

nav {
  margin: 0px 200px;
  display: flex;
  justify-content: space-between;
  padding: 30px 0px 0px;
}
.nav-mary {
  color: #181818;
  font-size: 45px;
  font-weight: 800;
  text-transform: capitalize;
}
.text-primary {
  color: #fd6e0a;
}

ul {
  display: flex;
  align-items: center;
}

nav li {
  list-style: none;
}
nav li a {
  color: #474747;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  text-transform: capitalize;
  margin: 0px 25px 0px;
  transition: 01s;
  -webkit-transition: 01s;
  -moz-transition: 01s;
  -ms-transition: 01s;
  -o-transition: 01s;
}
nav li a:hover {
  color: #fd6e0a;
}
/* Banner Area Style */
.banner-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px 0px 150px;
}
.banner-area img {
  width: 580px;
}
.banner-content {
  max-width: 500px;
}
.banner-greating {
  font-size: 45px;
  font-weight: 600;
  color: #474747;
}
.banner-title {
  font-size: 85px;
  font-weight: 700;
  color: #181818;
  text-transform: capitalize;
}
.banner-description {
  font-size: 18px;
  font-weight: 400;
  color: #757575;
  line-height: 30px;
  margin-bottom: 20px;
}

/* Main Section Styles */

main {
  max-width: 1140px;
  margin: 0 auto;
}
.about-section {
  margin: 130px;
  padding: 130px;
  border-radius: 10px;
  background: #fff8f3;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  line-height: 30px;
  margin: 0px 0px 10px;
}

/* About Section Styles */
.about-content-information {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}
.about-title {
  color: #757575;
  text-align: center;
  font-size: 16px;
  text-transform: capitalize;
}

.about-description {
  color: #181818;
  font-size: 18px;
  font-weight: 700;
  margin-top: 10px;
}

/* Footer Section Styles */

footer {
  gap: 50px;
  display: flex;
  padding: 130px 230px;
  background-color: #fff8f3;
}
.footer-column {
  width: 50%;
}

.footer-column,
.left {
  text-align: start;
}

.contact input,
textarea {
  width: 100%;
  border: 0px;
  font-size: 16px;
  color: #757575;
  border-radius: 5px;
  padding: 18px 30px;
  margin-bottom: 20px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  -moz-border-radius: 5px;
  background-color: #fff;
  -webkit-border-radius: 5px;
}
